{% extends "JJWebbingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Home{% endblock %}


{% block body %}

	{% block nav %} {{ parent() }} {% endblock %}

	<h1>INFOS FRANCE</h1>

{% endblock %}